# imports from core R packages
importFrom("utils", "head", "packageVersion")
importFrom("stats", "as.formula", "step")
importFrom("graphics", "barplot", "grid", "lines", "mtext", "par", "plot", "title")
importFrom("grDevices", "dev.interactive")

# imports
import(RCurl)
import(data.table)
import(digest)
import(jsonlite)

# market.api.process
export(api_dict)
export(market.api.process)

# market.api.query
export(market.api.query)
export(query_dict)
export(market.api.query.bitmarket)
export(market.api.query.bitstamp)
export(market.api.query.btce)
export(market.api.query.hitbtc)
export(market.api.query.kraken)
export(market.api.query.btcchina)

# plot
export(rbtc.plot)
export(rbtc.plot.order_book)
export(rbtc.plot.trades)
export(rbtc.plot.wallet_manager)

# blockchain.info
export(blockchain.api.process)
export(blockchain.api.query)

# utils
export(antiddos_fun)
export(ct_dict)
export(available_wallet)
export(toBTC)
export(fromBTC)
export(wallet_manager)
